@model App.Models.ProductModel

<div class="card bg-info text-white">
    <h1 class="card-header">Xin chào @Model.Name</h1>
    <div class="card-body">
        <p class="card-text">
            Giá: @Model.Price
        </p>

    </div>
</div>