@model string

@{
    Layout = "_Layout";
}
<div class="card bg-info text-white">
    <h1 class="card-header">Xin chào @Model</h1>
    <div class="card-body">
        <p class="card-text">meow meow Bạn đang tìm hiểu về View (cshtml) trong ASP .net MVC</p>

    </div>
</div>
    <hr>
    @this.Path